<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{home.title-page}"></title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet">
    <style>
        .form-control:focus {
            box-shadow: inset 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }
    </style>
</head>
<body>
    <div th:replace="common/template :: language-bar"></div>
    <div class="container">
        <h1 class=" my-3 text-center"  th:text="#{home.title}">Employees</h1>
        <div class="row">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-12">
                <div class="btn-group mb-3" role="group">
                    <button type="button" class="btn btn-sm btn-success"><a th:href="@{/add}" class="text-decoration-none text-light"><i class="fas fa-user-plus"></i><span class="mx-2" th:text="#{home.new}"></span></a></button>
                </div>
            </div>
            <div class="col-12" th:if="${persons != null && !persons.empty}">
                <table class="table table-bordered table-hover table-sm table-striped">
                    <thead>
                    <tr class="bg-secondary text-center text-light">
                        <th th:text="#{label-name}"></th>
                        <th th:text="#{label-lastname}"></th>
                        <th th:text="#{label-email}"></th>
                        <th th:text="#{label-phone}"></th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.th-actions}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.name}"></td>
                        <td th:text="${person.lastname}"></td>
                        <td th:text="${person.email}"></td>
                        <td th:text="${person.phone}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="d-flex align-items-center justify-content-evenly">
                                <a th:href="@{/edit/}+${person.id_person}" th:title="#{home.td-actions-icon-edit}">
                                    <i class="fas fa-user-edit text-primary"></i>
                                </a>
                                <a th:href="@{/delete(id_person=${person.id_person})}" th:title="#{home.td-actions-icon-delete}">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" th:if="${persons == null || persons.empty}">
                <p class="alert alert-danger text-center" th:text="#{no-person}"></p>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>